<div class="dashboard__content pt-0 px-15 pb-0 pt-20">
  <section class="layout-pt-lg layout-pb-md">
    <div class="container">
      <div class="page-header__content">
        <div class="row justify-center text-center">
          <div class="col-auto">
            <div data-anim="slide-up delay-1" class="is-in-view">
              <h1 class="page-header__title">Articles</h1>
            </div>

            <div data-anim="slide-up delay-2" class="is-in-view">
              <p class="page-header__text">
                We’re on a mission to deliver engaging, curated courses at a
                reasonable price.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="layout-pt-md layout-pb-lg pt-0">
    <div data-anim-wrap="" class="container animated">
      <div class="row y-gap-30 justify-center">
        <div
          data-anim="slide-up delay-1"
          class="col-lg-10 col-md-11 is-in-view"
        >
          <div class="blogCard -type-3">
            <div class="row y-gap-30 items-center">
              <div class="col-lg-6">
                <div class="blogCard__image">
                  <img
                    class="rounded-8"
                    src="assets/img/blog-list/big/1.png"
                    alt="image"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="blogCard__content pl-60 lg:pl-40 md:pl-0">
                  <a
                    href="blog-single.html"
                    class="blogCard__category text-14 lh-1 text-purple-1 fw-500"
                    >EDUCATION</a
                  >
                  <h4
                    class="blogCard__title text-24 lh-15 text-dark-4 fw-500 mt-15"
                  >
                    Eco-Education in Our Lives: We Can Change the Future
                  </h4>
                  <p class="blogCard__text mt-20">
                    Our features, journey, tips and us being us. Lorem ipsum
                    dolor sit amet, accumsan in, tempor dictum neque.
                  </p>
                  <div class="blogCard__button d-inline-block mt-20">
                    <a href="#" class="button -sm -purple-3 text-purple-1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          data-anim="slide-up delay-1"
          class="col-lg-10 col-md-11 is-in-view"
        >
          <div class="blogCard -type-3">
            <div class="row y-gap-30 items-center">
              <div class="col-lg-6">
                <div class="blogCard__image">
                  <img
                    class="rounded-8"
                    src="assets/img/blog-list/big/2.png"
                    alt="image"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="blogCard__content pl-60 lg:pl-40 md:pl-0">
                  <a
                    href="blog-single.html"
                    class="blogCard__category text-14 lh-1 text-purple-1 fw-500"
                    >EDUCATION</a
                  >
                  <h4
                    class="blogCard__title text-24 lh-15 text-dark-4 fw-500 mt-15"
                  >
                    8 great design trends that are making a come-back in 2021
                  </h4>
                  <p class="blogCard__text mt-20">
                    Our features, journey, tips and us being us. Lorem ipsum
                    dolor sit amet, accumsan in, tempor dictum neque.
                  </p>
                  <div class="blogCard__button d-inline-block mt-20">
                    <a href="#" class="button -sm -purple-3 text-purple-1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          data-anim="slide-up delay-1"
          class="col-lg-10 col-md-11 is-in-view"
        >
          <div class="blogCard -type-3">
            <div class="row y-gap-30 items-center">
              <div class="col-lg-6">
                <div class="blogCard__image">
                  <img
                    class="rounded-8"
                    src="assets/img/blog-list/big/3.png"
                    alt="image"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="blogCard__content pl-60 lg:pl-40 md:pl-0">
                  <a
                    href="blog-single.html"
                    class="blogCard__category text-14 lh-1 text-purple-1 fw-500"
                    >EDUCATION</a
                  >
                  <h4
                    class="blogCard__title text-24 lh-15 text-dark-4 fw-500 mt-15"
                  >
                    19 ways to optimize your ad marketing budget efficiently
                  </h4>
                  <p class="blogCard__text mt-20">
                    Our features, journey, tips and us being us. Lorem ipsum
                    dolor sit amet, accumsan in, tempor dictum neque.
                  </p>
                  <div class="blogCard__button d-inline-block mt-20">
                    <a href="#" class="button -sm -purple-3 text-purple-1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          data-anim="slide-up delay-1"
          class="col-lg-10 col-md-11 is-in-view"
        >
          <div class="blogCard -type-3">
            <div class="row y-gap-30 items-center">
              <div class="col-lg-6">
                <div class="blogCard__image">
                  <img
                    class="rounded-8"
                    src="assets/img/blog-list/big/4.png"
                    alt="image"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="blogCard__content pl-60 lg:pl-40 md:pl-0">
                  <a
                    href="blog-single.html"
                    class="blogCard__category text-14 lh-1 text-purple-1 fw-500"
                    >EDUCATION</a
                  >
                  <h4
                    class="blogCard__title text-24 lh-15 text-dark-4 fw-500 mt-15"
                  >
                    8 interesting programming languages you should be paying
                    attention to
                  </h4>
                  <p class="blogCard__text mt-20">
                    Our features, journey, tips and us being us. Lorem ipsum
                    dolor sit amet, accumsan in, tempor dictum neque.
                  </p>
                  <div class="blogCard__button d-inline-block mt-20">
                    <a href="#" class="button -sm -purple-3 text-purple-1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-center pt-60 lg:pt-40">
        <div class="col-auto">
          <div class="pagination -buttons">
            <button class="pagination__button -prev">
              <i class="icon icon-chevron-left"></i>
            </button>

            <div class="pagination__count">
              <a href="#">1</a>
              <a class="-count-is-active" href="#">2</a>
              <a href="#">3</a>
              <span>...</span>
              <a href="#">67</a>
            </div>

            <button class="pagination__button -next">
              <i class="icon icon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
