<footer class="footer">
  <div class="container">
    <div class="py-30 border-top-light">
      <div class="row items-center justify-between">
        <div class="col-auto">
          <div class="text-13 lh-1">© 2024 Xelcom. All Right Reserved.</div>
        </div>

        <div class="col-auto">
          <div class="d-flex items-center">
            <div class="d-flex items-center flex-wrap x-gap-20">
              <div>
                <a href="help-center.html" class="text-13 lh-1">Help</a>
              </div>
              <div>
                <a href="terms.html" class="text-13 lh-1">Privacy Policy</a>
              </div>
              <div>
                <a href="#" class="text-13 lh-1">Cookie Notice</a>
              </div>
              <div>
                <a href="#" class="text-13 lh-1">Security</a>
              </div>
              <div>
                <a href="terms.html" class="text-13 lh-1">Terms of Use</a>
              </div>
            </div>

            <button class="button -md -rounded bg-light-4 text-light-1 ml-30">
              Français
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
